services:
  
  backend:
    build: ./backend
    container_name: mi_backend
    ports:
      - "8081:8080"
    environment:
      # Usa SOLO la que el backend realmente va a leer
      - SPRING_DATA_MONGODB_URI=mongodb://root:mi_clave_secreta@mongodb:27017/YARGFlow?authSource=admin
      
      # Redis: el host TIENE que ser el nombre del servicio: "redis"
      - REDIS_HOST=redis
      - REDIS_PORT=6379

      # (Opcional pero recomendado) Variables para JWT:
      - JWT_SECRET=pon_aqui_una_clave_larga_y_unica
      - JWT_EXPIRATION_HOURS=24
    depends_on:
      - mongodb
      - redis

  frontend:
    build: ./Frontend-PF
    container_name: mi_frontend
    ports:
      - "80:80"
    depends_on:
      - backend

  mongodb:
    image: mongo:latest
    container_name: mi_mongodb
    ports:
      - "27017:27017"
    volumes:
      - ./backend/mongo-data:/data/db 
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=mi_clave_secreta

  redis:
    image: redis:alpine
    container_name: mi_redis
    ports:
      - "6379:6379"
    volumes:
      - ./backend/redis-data:/data
