<div class="auth-container">
  <div class="logo-container">
    <h1>Bienvenido a YARG Flow</h1>
    <p>Inicie sesión en su cuenta</p>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
    
    <div class="form-group">
      <label for="loginEmail">Correo electrónico</label>
      <input id="loginEmail" type="email" placeholder="correo@ejemplo.com" formControlName="email">
      @if (loginEmail?.invalid && (loginEmail?.dirty || loginEmail?.touched)) {
        <div class="error-message">
          @if (loginEmail?.errors?.['required']) {
            <span>Correo obligatorio.</span>
          }
          @if (loginEmail?.errors?.['email']) {
            <span>Correo inválido.</span>
          }
        </div>
      }
    </div>
    
    <div class="form-group">
      <div class="label-row">
        <label for="loginPassword">Contraseña</label>
        <a href="#">¿Olvidó su contraseña?</a>
      </div>
      <input id="loginPassword" type="password" placeholder="---" formControlName="password">
      @if (loginPassword?.invalid && (loginPassword?.dirty || loginPassword?.touched)) {
        <div class="error-message">
          @if (loginPassword?.errors?.['required']) {
            <span>Contraseña obligatoria.</span>
          }
        </div>
      }
    </div>
    
    <button type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
  </form>

  <div class="footer-link">
    <span>¿No tiene una cuenta? </span>
    <a routerLink="/register">Regístrese</a> </div>
</div>