<form [formGroup]="forgotForm" (ngSubmit)="onForgotPasswordSubmit()" novalidate>
  
  <div class="logo-container">
    <h1><span class="logo-icon">💬</span> YARG Flow</h1>
    <h2 class="form-title">Recuperar Contraseña</h2>
  </div>

  <div class="form-group">
    <label for="email">Correo electrónico</label>
    <input
      id="email"
      formControlName="email"
      type="email"
      placeholder="Tu correo de recuperación"
      autocomplete="email"
    />
    @if (email?.invalid && email?.touched) {
      <div class="error-message">
        Correo electrónico inválido.
      </div>
    }
  </div>

  <button type="submit" [disabled]="forgotForm.invalid">
    Enviar enlace
  </button>

  <div class="footer-link">
    ¿Ya te acordaste? <a (click)="onGoToLogin()">Inicia Sesión</a>
  </div>

</form>