/* Fondo difuminado */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.55);
  z-index: 50;
}

/* Caja del modal */
.modal-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1a1a1f;
  width: 430px;
  padding: 25px;
  border-radius: 14px;
  border: 1px solid #2e2e35;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  z-index: 60;
  color: #fff;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  cursor: pointer;
  font-size: 20px;
  opacity: 0.7;
}

.close-btn:hover {
  opacity: 1;
}

.modal-subtitle {
  margin-top: 5px;
  opacity: 0.7;
}

.section-title {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.9;
}

label {
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background: #111;
  border: 1px solid #333;
  color: white;
  margin-bottom: 15px;
}

/* Tarjetas de privacidad */
.privacy-card {
  display: flex;
  align-items: flex-start;
  background: #111;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #333;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.privacy-card.active {
  border-color: #8b5dff;
  background: #181424;
}

.radio-circle {
  width: 16px;
  height: 16px;
  border: 2px solid #777;
  border-radius: 50%;
  margin-right: 10px;
}

.radio-circle.selected {
  background: #8b5dff;
  border-color: #8b5dff;
}

/* Botones */
.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.cancel-btn {
  background: #333;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  color: white;
  margin-right: 10px;
  cursor: pointer;
}

.create-btn {
  background: #9b6dff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.create-btn:hover {
  background: #b488ff;
}
