<div class="auth-container">
  <div class="logo-container">
    <h1>Crear una cuenta</h1>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
    
    <div class="form-group">
      <label for="regEmail">Correo electrónico</label>
      <input id="regEmail" type="email" placeholder="correo@ejemplo.com" formControlName="email">
      @if (regEmail?.invalid && (regEmail?.dirty || regEmail?.touched)) {
        <div class="error-message">
          @if (regEmail?.errors?.['required']) { <span>Correo obligatorio.</span> }
          @if (regEmail?.errors?.['email']) { <span>Correo inválido.</span> }
        </div>
      }
    </div>

    <div class="form-group">
      <label for="regNombre">Nombre</label>
      <input id="regNombre" type="text" placeholder="Tu nombre" formControlName="nombre">
      @if (regNombre?.invalid && (regNombre?.dirty || regNombre?.touched)) {
        <div class="error-message">
          @if (regNombre?.errors?.['required']) { <span>El nombre es obligatorio.</span> }
        </div>
      }
    </div>
    
    <div class="form-group">
      <label for="regAlias">Alias</label>
      <input id="regAlias" type="text" placeholder="Tu alias" formControlName="alias">
      @if (regAlias?.invalid && (regAlias?.dirty || regAlias?.touched)) {
        <div class="error-message">
          @if (regAlias?.errors?.['required']) { <span>El alias es obligatorio.</span> }
        </div>
      }
    </div>
    
    <div class="form-group">
      <label for="regPassword">Contraseña</label>
      <input id="regPassword" type="password" placeholder="---" formControlName="password">
      @if (regPassword?.invalid && (regPassword?.dirty || regPassword?.touched)) {
        <div class="error-message">
          @if (regPassword?.errors?.['required']) { <span>Contraseña obligatoria.</span> }
          @if (regPassword?.errors?.['minlength']) { <span>Mínimo 6 caracteres.</span> }
        </div>
      }
    </div>

    <div class="form-group" formGroupName="fechaNacimiento">
      <label id="fechaNacimientoLabel">Fecha de nacimiento</label>
      <div class="date-group">
        <input type="text" placeholder="dd" formControlName="dd" maxlength="2" aria-labelledby="fechaNacimientoLabel">
        <input type="text" placeholder="mm" formControlName="mm" maxlength="2" aria-labelledby="fechaNacimientoLabel">
        <input type="text" placeholder="aa" formControlName="aa" maxlength="4" aria-labelledby="fechaNacimientoLabel">
      </div>
      @if (regFechaNacimiento?.invalid && (regFechaNacimiento?.dirty || regFechaNacimiento?.touched)) {
        <div class="error-message">
          <span>Fecha obligatoria.</span>
        </div>
      }
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Registrar cuenta</button>
  </form>

  <div class="footer-link">
    <span>¿Ya tienes una cuenta? </span>
    <a routerLink="/login">Inicia Sesión</a>
  </div>
</div>